@using RunGroupClubWebApp.ViewModel
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
  
<section>
    <div class="container">
        @if (Model.clubs == null)
        {
            <h1 class="fw-light">
                There are no running clubs in your area!<span> <a asp-area="" asp-controller="Account"
                   asp-action="Login">Login</a>
                </span> and create one!
            </h1>
        }
        else
        {
            <div class="row justify-content-between mb-5 text-center">
                <div class="col-auto">
                    <h3 class="text-black">Running clubs near @Model.City, @Model.State</h3>
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <a asp-controller="Club" asp-action="Index" class="btn btn-outline-secondary" >View all</a>
                </div>
                <!--end of col-->
            </div>
            <ul class="row feature-list feature-list-sm">
                @foreach (var item in Model.clubs)
                {
                    <li class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <a href="#">
                                <img class="card-img-top" src="@item.Image" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <a href="#">
                                    <h4 class="card-title">@item.Title</h4>
                                    <p class="card-text text-body">@item.Description</p>
                                </a>
                            </div>
                            <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                <div class="text-small">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">Likes &hearts; 150</li>
                                        
                                    </ul>
                                </div>
                                <div class="dropup">
                                    <a type="btn btn-secondary" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id"
                               class="btn btn-outline-secondary">View</a>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <a class="dropdown-item" href="#">Comment</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--Second Section-->
<section>
    <!--Start of container-->
    <div class="container mt-5" >
        <video style="border:1px solid #d5f8f3" controls width="1200" autoplay muted>
            <source src="~/run%202%20-%20inspirational%20running%20video%20hd.mp4" type="video/mp4" />
        </video>
    </div>
</section>